/core-bc/composites/svc/src/main/resources/rebel.xml
/core-bc/composites/types/src/main/resources/rebel.xml
/core-bc/modules/portlet/src/main/resources/rebel.xml

.DS_Store

.settings/*
.classpath
.project

skinny-web-api/target/*
skinny-web-service/target/*